<html lang="en">
    <link rel="stylesheet" href="/styles.css">

<%- include("./partials/head.ejs") %>
<body>
    <nav>
        <a href="/">Homepage</a>
        <a href="/about">about</a>
        <a href="/blogs/blog/create">create</a>
    </nav>
  
    <%- include("./partials/nav.ejs") %>
  <div class="blogs content">
    <h2>All Blogs</h2>

    <% if (blogs.length > 0) { %>
      <% blogs.forEach(blog => { %>
        <a class="single" href="/blogs/<%= blog._id %>">
        <h3 class="title"><%= blog.title %></h3>
        <p class="snippet"><%= blog.snippet %></p>
    </a>
      <% }) %>
    <% }  %>
    
  </div>

  
</body>
</html>